.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 2px;
}
.dialogsItem{
    color: #000000;
}

.dialogs .active{
    color: #ecfc00;
}

.dialog {
    padding: 2px;
}
.dialogItem{
    color: #fab300;
}